// Заголовки, общие БЄМ блоки и проче...
.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}
header {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 2;
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: start;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
}
.select-team {
  &__input {
    margin: 10px 0;
    position: relative;
  }

  &__input input {
    background: #f7f8f9;
    border: 0.5px solid #d5dde0;
    border-radius: 14px;
    width: 100%;
    height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
  }

  &__input input::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    // color: #d5dde0;
  }

  &__list {
    margin: 20px 0;
    display: grid;
    grid-template-rows: 1fr;
    gap: 56px;
    cursor: pointer;
  }
  &__item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;

    color: #3e4958;
    position: relative;
  }
  &__item:hover {
    color: #1152fd;
  }
  &__item:after {
    position: absolute;
    content: "";
    bottom: -28px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d5dde0;
  }
  &__item_active {
    color: #1152fd;
  }
}
.select-employee {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.employees__teamlead {
  display: grid;
  grid-template-rows: 1fr;

  &__name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #3e4958;
  }

  &__position {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #3e4958;
  }
}
.employees__list {
  display: grid;
  grid-template-rows: 1fr;
  gap: 15px;

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #3e4958;
  }
  &__body {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    &__item {
      cursor: pointer;
      position: relative;
    }
    &__item_active {
      color: #1152fd;
    }
    &__item:hover {
      color: #1152fd;
    }
    &__item:after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d5dde0;
    }
    &__item_active {
      color: #1152fd;
    }
  }
}

.timer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 430px;
  height: 312px;
  padding: 18px 23px 60px 23px;
  background: #f9f9f9;
  border-radius: 4px;

  &:after {
    position: absolute;
    content: "";
    height: 8px;
    width: 100%;
    background-color: #1152fd;
    bottom: 0px;
    left: 0px;
  }

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #3e4958;
  }

  &__time {
    display: flex;
    gap: 30px;
    justify-content: center;

    margin-top: 35px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 44px;
  }
}
.time {
  &__mins {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    &__body {
      width: 110px;
      height: 60px;

      background: #ffffff;
      border: 1px solid #dbdbdb;
      border-radius: 4px;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 1.5;

      color: #000000;
      text-align: center;
    }
    &__title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.5;
      color: #000000;
    }
  }
}
.button {
  display: flex;
  width: 118px;
  height: 40px;

  border-radius: 3px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &_start {
    background: #1152fd;
    border: 1px solid #1152fd;
  }

  &_pause {
    background: #d1d1d1;
    border: 1px solid #d1d1d1;
  }

  &_reset {
    background: #fd6259;
    border: 1px solid #fd6259;
  }
}
