.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 2;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: start;
  width: 100%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-team__input {
  margin: 10px 0;
  position: relative;
}

.select-team__input input {
  background: #f7f8f9;
  border: 0.5px solid #d5dde0;
  border-radius: 14px;
  width: 100%;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.select-team__input input::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.select-team__input input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.select-team__input input::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.select-team__input input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.select-team__list {
  margin: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 56px;
  cursor: pointer;
}

.select-team__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #3e4958;
  position: relative;
}

.select-team__item:hover {
  color: #1152fd;
}

.select-team__item:after {
  position: absolute;
  content: "";
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d5dde0;
}

.select-team__item_active {
  color: #1152fd;
}

.select-employee__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.employees__teamlead {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.employees__teamlead__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #3e4958;
}

.employees__teamlead__position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #3e4958;
}

.employees__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 15px;
}

.employees__list__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #3e4958;
}

.employees__list__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 20px;
}

.employees__list__body__item {
  cursor: pointer;
  position: relative;
}

.employees__list__body__item:hover {
  color: #1152fd;
}

.employees__list__body__item:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d5dde0;
}

.employees__list__body__item_active {
  color: #1152fd;
}
/*# sourceMappingURL=common.css.map */