.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 2;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: start;
  width: 100%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-team__input {
  margin: 10px 0;
  position: relative;
}

.select-team__input input {
  background: #f7f8f9;
  border: 0.5px solid #d5dde0;
  border-radius: 14px;
  width: 100%;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.select-team__input input::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.select-team__input input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.select-team__input input::-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.select-team__input input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.select-team__list {
  margin: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 56px;
  cursor: pointer;
}

.select-team__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #3e4958;
  position: relative;
}

.select-team__item:hover {
  color: #1152fd;
}

.select-team__item:after {
  position: absolute;
  content: "";
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d5dde0;
}

.select-team__item_active {
  color: #1152fd;
}

.select-employee__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.employees__teamlead {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.employees__teamlead__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #3e4958;
}

.employees__teamlead__position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #3e4958;
}

.employees__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 15px;
}

.employees__list__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #3e4958;
}

.employees__list__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 20px;
}

.employees__list__body__item {
  cursor: pointer;
  position: relative;
}

.employees__list__body__item_active {
  color: #1152fd;
}

.employees__list__body__item:hover {
  color: #1152fd;
}

.employees__list__body__item:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d5dde0;
}

.employees__list__body__item_active {
  color: #1152fd;
}

.timer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 430px;
  height: 312px;
  padding: 18px 23px 60px 23px;
  background: #f9f9f9;
  border-radius: 4px;
}

.timer:after {
  position: absolute;
  content: "";
  height: 8px;
  width: 100%;
  background-color: #1152fd;
  bottom: 0px;
  left: 0px;
}

.timer__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #3e4958;
}

.timer__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.timer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin-top: 44px;
}

.time__mins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.time__container__body {
  width: 110px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.5;
  color: #000000;
  text-align: center;
}

.time__container__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 118px;
  height: 40px;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button_start {
  background: #1152fd;
  border: 1px solid #1152fd;
}

.button_pause {
  background: #d1d1d1;
  border: 1px solid #d1d1d1;
}

.button_reset {
  background: #fd6259;
  border: 1px solid #fd6259;
}
/*# sourceMappingURL=common.css.map */