// Заголовки, общие БЄМ блоки и проче...
.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}
header {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 2;
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: start;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
}
.select-team {
  &__input {
    margin: 10px 0;
    position: relative;
  }

  &__input input {
    background: #f7f8f9;
    border: 0.5px solid #d5dde0;
    border-radius: 14px;
    width: 100%;
    height: 60px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
  }

  &__input input::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    // color: #d5dde0;
  }

  &__list {
    margin: 20px 0;
    display: grid;
    grid-template-rows: 1fr;
    gap: 56px;
    cursor: pointer;
  }
  &__item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;

    color: #3e4958;
    position: relative;
  }
  &__item:hover {
    color: #1152fd;
  }
  &__item:after {
    position: absolute;
    content: "";
    bottom: -28px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d5dde0;
  }
  &__item_active {
    color: #1152fd;
  }
}
.select-employee {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.employees__teamlead {
  display: grid;
  grid-template-rows: 1fr;

  &__name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #3e4958;
  }

  &__position {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #3e4958;
  }
}
.employees__list {
  display: grid;
  grid-template-rows: 1fr;
  gap: 15px;

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #3e4958;
  }
  &__body {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    &__item {
      cursor: pointer;
      position: relative;
    }
    &__item:hover {
      color: #1152fd;
    }
    &__item:after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d5dde0;
    }
    &__item_active {
      color: #1152fd;
    }
  }
}
